.hearder-top{
    border: 1.2px solid rgb(223, 223, 223);
    text-align: center;
}
.hearder-top i{
    color: rgb(223,169,116);
    padding-right: 8px;
    padding: 1rem 0.5rem;
}
.hearder-top span{
    font-weight: 500;
    font-size: 1.1rem;
}
.header-phone{
    border-right: 1.2px solid rgb(223, 223, 223);
}
.header-social i{
    color: #1a1a1a;
    font-size: 20px;
}
.header-order{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223,169,116);
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a{
    text-transform: capitalize;
    font-weight: 500;
    color: #1a1a1a;
}
